---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={`"DT 770 PRO AND AIRPODS PRO 2 ARE THE BEST PAIRS OF HEADPHONES TOGETHER"`} />
	</head>
	<body>
		<Header />
		<main>
			<section class="intro-section" style="margin-bottom:40px;">
				<h1 style="color:var(--pink-neon); text-shadow: 2px 2px 0 #000; font-size: 2.5rem; text-transform:uppercase;">FUCK OVERRATED HEADPHONES, DT 770 PROS ARE THE REAL HEADPHONES.</h1>
				<p class="subtitle" style="font-size:1.3rem;">It is built like a BEYER, cheap looking but rugged. It is immortal and protects your Airpods Pro 2 well. Although the sound is bad, you can EQ it if you have the mental clarity, sanity, and capacity to make it better than HD 800 S, or just wear Airpods Pro 2 under it</p>
			</section>
			
			<div style="text-align: center; margin-bottom: 50px;">
				<img src="/blog/contents/bestpair.png" alt="Beyerdynamic DT 770 Pro Headphone" style="display: block; max-width: 100%; height: auto; margin: 0 auto; border: var(--border-width) solid var(--border-color); padding: 5px; background: var(--mc-bg-dark); box-shadow: 5px 5px 0 var(--border-color);" />
			</div>

			<h2 style="color:var(--pink-pastel); text-shadow: 2px 2px 0 #000;">> Latest Entries_</h2>
			<div class="blog-grid" style="margin-top: 20px;">
				</div>
		</main>
		<Footer />
		<script is:inline src="/warning.js"></script>
	</body>
</html>