---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Michelle's SHIT" description="WELCOME TO MY DINKY-ASS ..." />
	</head>
	<body>
		<script is:inline src="/warning.js"></script>
		<Header />
		<main>
			<section class="hero mc-border">
				<img src="/blog/contents/bloglogo.webp" alt="Michelle's DNS and BLOG" style="display: block; margin: 0 auto 15px; max-width: 100%; height: auto; width: 500px;">
				<div style="text-align: center; margin-bottom: 25px;">
					<a href="/blog" class="mc-btn" style="font-size: 1.5rem; padding: 15px 40px; background: var(--pink-neon); color: white; display: inline-block; text-shadow: 2px 2px 0 #000;">
						<i class="fa-solid fa-book"></i> VISIT MY BLOG!
					</a>
				</div>
				<h1>WELCOME TO MY SUPER-CUTE-BUT-SHITTY WEBSITE! TAKING VICODIN BEFORE READING IS RECOMMENDED</h1>
				<p class="subtitle">I'm running a website where I post about shitty and janky technology that I like and personally use. Especially in audio, networking, and Linux technologies</p>
				<p class="subtitle">Michelle's DNS is a .mobileconfig profile designed to provision Apple iOS/iPadOS devices to allow sideloading using revoked certificate. Compliant to WSFteam.xyz (partner) documentations and practice.</p>
				<p class="subtitle">If you want to send me cat pictures or other interesting files, please click the button below:</p>
				<div style="margin-top: 30px;">
					<a href="https://cloud.kamikami.eu/s/send-me-cat-pics" target="_blank" class="mc-btn" style="background: #FF44FC; color: #000; display: inline-flex; align-items: center; justify-content: center; gap: 10px;">
						<i class="fa-brands fa-nextcloud" style="font-size: 1.4rem;"></i>
						<span>Send me cat pictures and files!</span>
					</a>
				</div>
				<div style="text-align: center; margin-bottom: 25px;">
					<a href="/blog/michelle-dns-for-ios-sideloading/" class="mc-btn" style="font-size: 1.5rem; padding: 15px 40px; background: var(--pink-neon); color: white; display: inline-block; text-shadow: 2px 2px 0 #000;">
						<i class="fa-solid fa-book"></i> TRY MY SIDELOADER DNS PROFILE!
					</a>
				</div>
				<div style="margin-top:20px;">
					<span style="font-size:3rem; animation: float 2s infinite;">💖</span>
				</div>
			</section>        
		</main>

		<Footer />        
	</body>
</html>