---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Michelle's DNS and SHIT BLOG" description="Michelle's DNS is a .mobileconfig profile made to provision Apple iOS/iPadOS devices to allow sideloading using revoked certificate through privacy-preserving DNS which is compliant with WSFteam.xyz (partner) documentations and practice..." />
    </head>
    <body>
        <script is:inline src="/warning.js"></script>
        <Header />
        <main>
            <section class="hero mc-border">
                <img src="/blog/contents/bloglogo.webp" alt="Michelle's DNS and BLOG" style="display: block; margin: 0 auto 15px; max-width: 100%; height: auto; width: 500px;">
                
                <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; margin-bottom: 25px;">
                     <a href="/blog/" class="mc-btn" style="font-size: 1.2rem; padding: 15px 30px; background: #333; color: white; display: inline-flex; align-items: center; gap: 10px; text-shadow: 2px 2px 0 #000; text-decoration: none;">
                        <i class="fa-solid fa-list"></i> READ MY BLOGS
                    </a>
					<a href="/blog/michelle-dns-for-ios-sideloading/" class="mc-btn" style="font-size: 1.2rem; padding: 15px 30px; background: var(--pink-neon); color: white; display: inline-flex; align-items: center; gap: 10px; text-shadow: 2px 2px 0 #000; text-decoration: none;">
                        <i class="fa-solid fa-book"></i> TRY MY DNS SIDELOADER PROFILE
                    </a>
                    <a href="https://stats.kamikami.eu/status/one" target="_blank" class="mc-btn" style="font-size: 1.2rem; padding: 15px 30px; background: #333; color: white; display: inline-flex; align-items: center; gap: 10px; text-shadow: 2px 2px 0 #000; text-decoration: none;">
                        <i class="fa-solid fa-server"></i> SERVICES STATUS
                    </a>
                </div>

                <h1>WELCOME TO MY SUPER-CUTE-BUT-SHITTY WEBSITE! TAKE VICODIN IF YOU CAME FROM WSFTEAM.XYZ</h1>
                <p class="subtitle">I'm running a website where I post about shitty and janky technology that I like and personally use. Especially in audio, networking, and Linux technologies</p>
                <p class="subtitle">Michelle's DNS is a .mobileconfig profile mmade to provision Apple iOS/iPadOS devices to allow sideloading using revoked certificate through privacy-preserving DNS which is compliant with WSFteam.xyz (partner) documentations and practice.</p>
                <p class="subtitle">If you want to send me cat pictures or other interesting files, please click the button below:</p>
                
                <div style="margin-top: 30px;">
                    <a href="https://cloud.kamikami.eu/s/send-me-cat-pics" target="_blank" class="mc-btn" style="background: #FF44FC; color: #ffffff; display: inline-flex; align-items: center; justify-content: center; gap: 10px;">
                        <i class="fa-solid fa-folder-open" style="font-size: 1.4rem;"></i>
                        <span>Send me cat pictures and files!</span>
                    </a>
                </div>

                <div style="margin-top:20px;">
                    <span style="font-size:3rem; animation: float 2s infinite;">💖</span>
                </div>
            </section>        
        </main>

        <Footer />        
    </body>
</html>