---
const year = new Date().getFullYear();
---
<footer>
    <p>Vibe coded this piece of garbage</p>
    <p style="font-size:0.9rem; color:#666;">Idjen Boulevard No.48, Kota Malang 65112, Indonesia.</p>
    <p style="font-size:0.9rem; color:#666;">sel@kamikami.eu.</p>
    <p style="font-size:0.9rem; color:#666;">Copyright © Michelle, {year}</p>
</footer>